/**
 * @author Reza Munoz-Asayesh
 * @file home.css 
 * @project Asteroid Wars
 * Description: This is the css file for styling of home.html. This file is for 
 * creating the styling that will give the html divs positioning, color, dimension etc.
 * 
 */


/* global */

* {
    /* format page */
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*:focus {
    /* remove outline from all buttons when pressed */
    outline: 0 !important;
}

.container {
    position: fixed;
    border: 2px cornflowerblue solid;
    background-color: black;
    box-sizing: border-box;
    color: cornflowerblue;
    width: 100%;
    min-height: 150px;
    height: 16%;
    z-index: 1;
    left: 0px;
}

.title {
    position: absolute;
    margin-left: 5px;
    margin-top: 65px;
    font-size: 50pt;
    z-index: 1;
    color: cornflowerblue;
}

.button {
    background-color: black;
    border: none;
    font-size: larger;
    color: cornflowerblue;
    display: block;
    cursor: pointer;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    transition: 0.4s;
}

.button:hover {
    background-color: cornflowerblue;
    color: black;
}


/* content section taking bottom 85% of page */

#content {
    position: absolute;
    height: 84%;
    min-height: 700px;
    width: 100%;
    top: 150px;
    background-color: black;
    color: cornflowerblue;
    text-align: center;
}

#credits {
    position: fixed;
    color: cornflowerblue;
    bottom: 0px;
    height: 20px;
    left: 5px;
    z-index: 1;
}