/**
 * @author Reza Munoz-Asayesh
 * @file index.css 
 * @project Asteroid Wars
 * Description: This is the css file for styling of index.html. This file is for 
 * creating the styling that will give the html divs positioning, color, dimension etc.
 * 
 */


/* global */

* {
    /* format page */
    margin: 0px;
    padding: 0px;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*:focus {
    /* remove outline from all buttons when pressed */
    outline: 0 !important;
}

.container {
    position: fixed;
    border: 2px cornflowerblue solid;
    background-color: black;
    box-sizing: border-box;
    color: cornflowerblue;
    width: 100%;
    min-height: 150px;
    height: 16%;
    z-index: 1;
}

.title {
    position: absolute;
    bottom: 0px;
    left: 5px;
    font-size: 50pt;
}

#signupContainer,
#loginContainer {
    display: none;
}


/* 1st initial div shown top 15% of page*/

.directoryButton {
    background-color: black;
    color: cornflowerblue;
    position: absolute;
    border: none;
    width: 15%;
    min-width: 150px;
    height: 100%;
    transition: all 0.6s;
    cursor: pointer;
    font-size: 16pt;
}

.directoryButton:hover {
    background-color: cornflowerblue;
    color: black;
}

#loginButton {
    border-left: 2px cornflowerblue solid;
    right: 15%;
}

#signUpButton {
    border-left: 2px cornflowerblue solid;
    right: 0px;
}

#loginInformation {
    position: absolute;
    right: 70px;
    padding: 20px;
}

.userInput {
    background: black;
    border: 1px cornflowerblue solid;
    margin-bottom: 5px;
    padding: 3px;
    font-size: 12pt;
    color: whitesmoke;
}

.button {
    background-color: black;
    padding: 6px 12px 6px 12px;
    transition: 0.4s;
    cursor: pointer;
    border: 1px cornflowerblue solid;
    color: cornflowerblue;
    float: right;
}

.button:hover {
    background-color: cornflowerblue;
    color: black;
}

.back {
    margin-right: 5px;
}

#incorrectCredentialsError {
    color: red;
    font-size: 8pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

#signupInformation {
    position: absolute;
    right: 70px;
    padding: 5px;
    font-size: 16pt;
}

#passwordDontMatchError {
    display: inline;
    color: red;
    font-size: 8pt;
    margin-right: 12px;
}


/* content section taking bottom 85% of page */

#content {
    position: fixed;
    height: 84%;
    width: 100%;
    top: 16%;
    background-color: black;
}

#credits {
    position: fixed;
    color: cornflowerblue;
    bottom: 0px;
    height: 20px;
    left: 5px;
    z-index: 1;
}